# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- Some of the commonly used libraries by Data Scientists are
- Some of the popular languages that Data Scientists use are
- Table with DS tool
- Simple arithmetic expression to mutiply then add integers.
- Convert 200 minutes to hours by diving by 60

## Author
Nandini

## Some of the popular languages that Data Scientists use are
1. Python
2. R
3. Julia
4. SQL

## Some of the commonly used libraries by Data Scientists are
1. Pandas
2. Numpy
3. Tensorflow
4. PyTorch

## Table 
|Data Science Tool|
|----------------|
|Jupyter Notebook/Lab|
|Spyder|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
Mins=200
hour= Mins/60
hour

3.3333333333333335